<div id="<%= dom_id address %>">
  <p>
    <strong>Country:</strong>
    <%= address.country_id %>
  </p>

  <p>
    <strong>State:</strong>
    <%= address.state_id %>
  </p>

  <p>
    <strong>City:</strong>
    <%= address.city_id %>
  </p>

  <p>
    <strong>Postcode:</strong>
    <%= address.postcode %>
  </p>

</div>
